body {
    max-width: 800px;
    padding-bottom: 1em;
    margin: auto;

    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    margin-top: 1rem;
    background-color: #f2f1ef;
    border-radius: 10px;
}

@media (max-width: 750px) {
    .container {
        border-radius: 0;
    }
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding-left: 3em;
    padding-right: 3em;
}

@media (max-width: 750px) {
    header {
        flex-direction: column;
        justify-content: center;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;

    border-radius: 10px;
}

figcaption {
    margin-top: 10px;
    text-align: center;
}

#img-div {
    margin-top: 1em;
    padding: 1em;
}

#tribute-info {
    padding: 1em;
}

#tribute-info > h3 {
    text-align: center;
}

#tribute-info > ul > li:not(:last-child) { 
    padding-bottom: 1em;
}

blockquote {
    font-size: 20px;
    font-style: italic;

    padding: 0.5em;

    background-color: white;
    border-radius: 10px;
}

blockquote > p:last-child {
    text-align: end;
}

#read-more {
    padding: 1em;

    text-align: center;
    font-size: 24px;
}